[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2-binary" = "*"
django-forms-bootstrap = "*"
"django-bootstrap4" = "*"
djangorestframework = "*"
gunicorn = "*"

[dev-packages]
pylint = "*"
rope = "*"
ipython = "*"

[requires]
python_version = "3.7"
