{% extends "base.html" %}

{% block "content" %}
    <h1>List of matches</h1>
    
    <a class="btn btn-primary" href="{% url 'matches_new' %}" style="margin: 1em 0">Add match</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Characters</th>
                <th scope="col">MMR</th>
                <th scope="col">MMR change</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for match in matches %}
                    <tr>
                        <td>{{match.characters_list}}</td>
                        <td>{{match.mmr_after}}</td>
                        <td class="
                            {% if match.won %} won {% endif %}
                            {% if match.lost %} lost {% endif %}
                        ">
                            {% if match.mmr_difference > 0 %}+{% endif %}{{match.mmr_difference}}
                        </td>
                        <td style="text-align: right">
                            <a class="btn btn-secondary btn-sm" href="{% url 'matches_edit' match.pk %}">Edit</a>
                            <a class="btn btn-danger btn-sm" href="#">Delete</a>
                        </td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock "content" %}